<!-- HEADER -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">ABOUT</span>
                    <hr class="star-light">  
                    <span class="skills">RAISING THE PROFILE OF FINTECH CHICAGO</span>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
            </div>
            </div>
        </div>
    </div>
</header>

<!-- CONTENT HEADER -->
<div class="page-header">
  <h1>Why Join FinTEx Cluster?</h1>
  <hr class="star-primary">
</div>

<!-- CONTENT -->
<div class="container">
    <div>
        <h2>What is FinTech?</h2>
        <p>FinTech has come to be shorthand for technology enabled innovation in financial services.
        The roots of the term FinTech come from the days when automated back-office systems were cutting edge, and FinTech stood for Financial Technology – the technologies employed by large financial institutions to modernize their operations. Today, FinTech is much more.</p>
        <p>Now, FinTech refers to everything that changes the way money is handled and financial transactions are completed.  It’s a systems employed by a large financial institutions, payment apps on consumer’s phone, startup created platforms that facilitate new lending models.  FinTech has moved way beyond the back office to being highly visible, having direct impact on the day to day lives of millions of people.</p>
    </div>
    <div>
        <h2>What is a Business Cluster?</h2>
        <p>A business cluster is a group of interconnected companies, suppliers, service providers and associated institutions in an industry that are located within close geographic proximity. Michael Porter of Harvard Business School published a landmark study on the competitive advantage of clusters. He proposed clusters create three advantages:</p>

        <ul>
            <h5>Productivity</h5>
            <li>Better access to employees and suppliers</li>
            <li>Access to specialized information</li>
            <li>Access to institutions and public goods</li>
        </ul>
    </div>

    <!-- CONTACT BUTTON -->
    <div class="form-group col-xs-12 about-contact-btn">
        <a href="#contact"><button type="submit" class="btn btn-success btn-lg">Contact Us!</button></a>
    </div>
</div>
</br>

<!-- FOOTER -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>About FinTEx Chicago</h3>
                    <p>FinTEx is a collaboration between leading players in financial services and technology to expand Chicago’s role as a center of innovation.</a>.</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Follow Us</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Join our mailing list!</h3>
                    <span class="subscribe-inputs">
                       <input type="text" name="email" value="" required="required" class="subscribe-email" placeholder=" Your email address"></br></br>
                       <button type ="submit" class="btn btn-sm btn-outline"> Subscribe! </button>
                     </span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; FinTEx Chicago 2016
                </div>
            </div>
        </div>
    </div>
</footer>