<!-- HEADER -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <!-- <img class="img-responsive" src="img/logo.png" alt=""> -->
                    </br>
                    <span class="name">EXPANDING FINANCIAL TECHNOLOGY INNOVATION IN CHICAGO</span>
                    <hr class="star-light">
                    <span class="skills">FinTex Chicago is a member-driven organization seeking to expand Chicago’s role as a center of innovation in financial services and financial technology.</span>   
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#about" class="btn btn-lg btn-outline">
                    LEARN MORE <i class="fa fa-chevron-right"></i>
                </a>  
                </div>
            </div>
        </div>
    </div>
</header>

<!-- FOCUS SECTION -->
<section class="focus">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Focus</h2>
                <hr class="star-primary">
            </div>
        </div>
        </br>
        <div class="row">
            </br>
            <div class="home-about-text">
                <p class="col-md-3"><i class="fa fa-5x fa-users home-font-awesome"></i></br></br></br>BOOST COLLABORATION</p>
                <p class="col-md-3"><i class="fa fa-5x fa-rocket home-font-awesome"></i></br></br></br>STIMULATE INNOVATION</p>
                <p class="col-md-3"><i class="fa fa-5x fa-briefcase home-font-awesome"></i></br></br></br>RETAIN LOCAL TALENT</p>
                <p class="col-md-3"><i class="fa fa-5x fa-usd home-font-awesome"></i></br></br></br>ATTRACT INVESTMENT</p>
            </div>
        </div>
    </div>
</section>

<!-- UPCOMING EVENTS -->
<div class="page-header">
    <h1>Upcoming Events</h1>
    <hr class="star-primary">
    </br>
    <div class="span6 offset3 event-list">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Startup Bookcamp FinTech FastTrack 2016</h3>
            </div>
            <div class="panel-body">
                Startupbootcamp FastTrack will make a stop in Chicago as part of its international tour to support the world’s top startup cities.

                10 FinTech startups are invited to get on the fast track by meeting top Startupbootcamp mentors during a series of 20 minute 1-1 feedback sessions.

                </br></br>
                <p><i class="fa fa-calendar"> Feb 3, 2016 </i></p>
                <a href="http://www.startupbootcamp.org/events/fintech-nyc-chicago-fasttrack.html" target="_blank" class="btn btn-success btn-md">Apply to Pitch</a>
 <!--              <button type="submit" class="btn btn-success btn-md">Apply to Pitch</button> -->
            </div>
        </div>
    </div>
    </br>
    <div class="span6 offset3 event-list">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">FinTech Exchange 2016</h3>
            </div>
            <div class="panel-body">
                Hear from <u>20 leaders</u> in Financial Technology with a focus on Financial Markets & Trading. This one-of-a-kind event is engaging, and features concise, on-stage presentations.                </br></br>
                <p><i class="fa fa-calendar"> Apr 21, 2016 </i></p>
                <a href="http://fintechchicago.com" target="_blank" class="btn btn-success btn-md">Learn More</a>
                <a href="https://www.eventbrite.com/e/fintech-exchange-2016-tickets-20704738430" target="_blank" class="btn btn-success btn-md">Buy Tickets Now</a>

<!--                <button type="submit" class="btn btn-success btn-md">RSVP</button> -->
            </div>
        </div>
    </div>
    </br>
    <div>
        <h2><a href="#events">MORE EVENTS <i class="fa fa-arrow-right"></i></a></h2>
    </div>
</div>

<!-- SPONSORS (portfolio) Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Premier Sponsors</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/sponsors/cabin.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/sponsors/cake.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/sponsors/circus.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/sponsors/game.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/sponsors/safe.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/sponsors/submarine.png" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>


<!-- SPONSOR MODALS-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Morningstar Inc.</h2>
                        </br>
                        <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <ul class="list-inline item-details">
                            <li>Gold Sponsor:
                                <strong><a href="http://fintex.com">FinTEx Chicago</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>About FinTEx Chicago</h3>
                    <p>FinTEx is a collaboration between leading players in financial services and technology to expand Chicago’s role as a center of innovation.</a>.</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Follow Us</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Join our mailing list!</h3>
                    <span class="subscribe-inputs">
                       <input type="text" name="email" value="" required="required" class="subscribe-email" placeholder=" Your email address"></br></br>
                       <button type ="submit" class="btn btn-sm btn-outline"> Subscribe! </button>
                     </span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; FinTEx Chicago 2016
                </div>
            </div>
        </div>
    </div>
</footer>