<!-- <a href="#member-application" class="btn btn-lg btn-outline">
    <i class="fa fa-download"></i> ASSOCIATE MEMBERSHIP
</a> -->

<!-- HEADER -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">APPLY FOR MEMBERSHIP</span>
                    <hr class="star-light">  
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
            </div>
            </div>
        </div>
    </div>
</header>

<!-- APPLICATION FORMS -->
<div class="container membership-application">
	<div class="column">
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
          <div class="caption">
            <h3>REGULAR MEMBER</h3></br>
            <ul class= "app-form">
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-times"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-times"></i> Le Ipemao</li></br>
            </ul>
            <p>
            <a href="" class="btn btn-primary" role="button"><i class="fa fa-download"></i> Download Application</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
          <div class="caption">
            <h3>ASSOCIATE MEMBER</h3></br>
            <ul class= "app-form">
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            </ul>
            <p>
            <a href="" class="btn btn-primary" role="button"><i class="fa fa-download"></i> Download Application</a>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>

<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>About FinTEx Chicago</h3>
                    <p>FinTEx is a collaboration between leading players in financial services and technology to expand Chicago’s role as a center of innovation.</a>.</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Follow Us</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Join our mailing list!</h3>
                    <span class="subscribe-inputs">
                       <input type="text" name="email" value="" required="required" class="subscribe-email" placeholder=" Your email address"></br></br>
                       <button type ="submit" class="btn btn-sm btn-outline"> Subscribe! </button>
                     </span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; FinTEx Chicago 2016
                </div>
            </div>
        </div>
    </div>
</footer>